@font-face{
	font-family: gothferatu;
	src:url(fuentes/gothferatu.ttf);

	font-family: MACABRA_;	
	src:url(fuentes/MACABRA_.ttf);

}

h1{
	font-family: gothferatu;	
	font-size: 100px;
	text-align: center;
	background-color: black;
	width: 60%;	
	margin: 0 auto;
	color: white;
}

h2{
	font-family: Agency FB;	
	font-size: 30px;
	background-color: black;
	color: white;
	padding: 20px
}
h2:hover{
	color: deeppink;
  	box-shadow: inset 600px 0 0 0 lightpink;
  	transition: color 0.2s ease-in-out, 
  				box-shadow 0.4s ease-in-out;
}

p{
	font-family: Agency FB;
	font-size: 25px;
	text-align: justify;
	color:white;
}